.tabs a {
	display: inline-block;
	margin-left: 20px;
	margin-top: 5px;
	padding: 5px;
	font-size: 24px;
	border: 1px solid transparent;
	text-decoration: none;
	border-radius: 4px;
	color: black;
}

.tabs a.selected {
	background: #eee;
	border-color: grey;
}

.tabs {
	border-bottom: 1px solid grey;
	height: 50px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
	background: white;
}

.ChatPanel {
	display: flex;
	flex-direction: column;
}

.ChatLog {
	overflow: auto;
	position: absolute;
	bottom: 50px;
	top: 50px;
	left: 0;
	right: 0;
	overflow: auto;
}

.Item {
  padding: 20px;
  text-align: left;
  border: 1px solid grey;
  /*border-bottom-color: grey;*/
}

.Item img {
  border: 1px solid grey;
}

.Item.LastItem {
	/*border-bottom: none;*/
}

.Item.ImageItem .Text{
	padding-top: 10px;
}

.Composer {
	border-top: 1px solid grey;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.Composer button {
  font-size: 24px;
  margin-left: 20px;
  margin-top: 10px;
}
