.ChatPanel {
  display: flex;
  flex-direction: column;
}

.ChatLog {
  /*width: 400px;*/
  overflow: auto;
  position: absolute;
  bottom: 100px;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  border: 1px solid grey;
}

.Composer {
  /*width: 400px;*/
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  border: 1px solid grey;
}

.Item {
  padding: 20px;
  text-align: left;
  background: #f0f0f0;
  border-bottom: 1px solid grey;
}

img {
  border: 1px solid grey;
}

button {
  font-size: 36px;
  margin: 10px;
}
